<div class="btn-group" role="group">
    <button class="btn btn-{{buttonProperties.styleButtonUpdate}}" *ngIf="buttonProperties.showUpdate" type="button" (click)="clicEventUpdate()"><i class="fa fa-{{ buttonProperties.iconButtonUpdate }}"></i> {{ buttonProperties.labelUpdate }} </button>
    <button class="btn btn-{{buttonProperties.styleButtonDelete}}" *ngIf="buttonProperties.showDelete" type="button" (click)="clicEventDelete()"> <i class="fa fa-{{ buttonProperties.iconButtonDelete }}"></i> {{ buttonProperties.labelDelete }}</button>
    <button class="btn btn-{{buttonProperties.styleButtonAditional}}" *ngIf="buttonProperties.showOption" type="button" (click)="clicEventOption()"><i class="fa fa-{{ buttonProperties.iconButtonAditional }}"></i> {{ buttonProperties.labelAditional }} </button>

</div>
