<div>
    <table class="table">
        <thead>
            <th>
                #
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Actions
            </th>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>